.container{
    width:40%;
    margin: auto;
    margin-top: 20px;
    border: 1px solid red;
   border-radius: 10px;
  background-color: rgba(0, 255, 110, 0.228);
  animation-name: example;
  animation-duration: 10s;
    
}
@keyframes example {
    10%   {background-color: rgba(14, 253, 14, 0.192);}
    25%  {background-color: yellow;}
    35%  {background-color: blue;}
    45% {background-color: green;}
    65% {background-color: grey;}
    85% {background-color:aqua ;}
    100% {background-color: lime;}
  }

.headname{
    color:blue
}
.data{
    width:40%;
    height:40px;
    border-radius: 10px;
    border:0.5px dashed red;
}
.btn1{
    width:150px;
    height:40px;
    border-radius: 10px;
    display: block;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.showdata{
    width:70%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
   
    
}
.btndelete{
    width:20%;
    height:30px;
    border: none;
    border-radius: 10px;
    background-color: teal;
}
